doctype html
html   
    head
        title Processamento e Representação de Informação (aula6)
        meta(charset='UTF-8')
        link(rel='stylesheet',href='/w3.css')
        script(src='jquery-3.3.1.min.js')
        script(src='myJS.js')
        script(src='reset.js')
    body
        block content